/*轮播图*/
.box_banner{
    width: 100%;
    height: 10.0rem;
    overflow: hidden;
    position: relative;
}

.box_banner1{
    height: 8.0rem;
}
.box_banner2{
    height: 9.0rem;
}
.box_banner ul{
    width: 18.75rem;
    touch-action: none;
}
.box_banner ul li{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:0.7s all ease;
    -webkit-transition:0.7s all ease;
    float: left;
}
#ul1 li.center {
    opacity:1;
    z-index:3
}
.box_banner ul li img{
	max-width: 100%;
    min-width: 100%;
}
ol{
    width: 3.6rem;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    margin-left: -1.8rem;
    z-index: 100;
}
ol li{
    width: 0.35rem;
    height:0.35rem;
    background: #fff;
    border-radius: 50%;
    float: left;
    margin-right: 0.5rem;
    opacity: 0.7;
}
ol li.active{
    width: 0.375rem;
    height: 0.375rem;
    opacity: 1;
    z-index: 100;
}